#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult{
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
.resultname{
  font-size: 26px;
}

.resultDesc{
  font-size: 20px;
}

.kakao{
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 20px;
}


.twitter{
  color: white;
  background-color: #00acee;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.twitter:hover, .twitter:focus {
  background-color: whitesmoke;
  color: #00acee;
}

.facebook{
  color: white;
  background-color: #3b5998;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.facebook:hover, .facebook:focus {
  background-color: whitesmoke;
  color: #3b5998;
}

.gohome{
  color: white;
  background-color: pink;
  font-size: 20px;
  border: 0px;
  border-radius: 20px;
}

.gohome:hover, .gohome:focus {
  background-color: whitesmoke;
  color: pink;
}
